.home{
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}
.card{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: end;
    margin-top: -500px;
}
.filter {
    width: 220px;
    height: 500px;
    border: 1px solid #165783;
  }
  .filter_brend{
    display: flex;
    flex-wrap: wrap;
  }
  .filter_brend>h1{
    color: black;
    font-size: 18.9px;
    white-space: nowrap;
    /* margin-left: 15px; */
    margin-top: 15px;
    background-color: #F5F5F5;
  }
  .filter_brend>select {
    margin-left: 10px;
    margin-top: 10px;
      font-size: 0.9rem;
      padding: 2px 5px;
      color: black;
  }
  .filter_brend_select{
    height: 30px;
    width: 195px;
  }
  .option{
    color: black;
  }